<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Simple AI Chat Bot Demo with Web Speech API">
    <meta name="author" content="Amjad Ansari">

    <title>Simple AI Demo with Web Speech API</title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <section>
      <h1>MZ Bot</h1>
      <h2>with Web Speech API</h2>

      <button><i class="fa fa-microphone"></i></button>

      <div>
          <p>You said: <em class="output-you">...</em></p>
          <input type="text" name="" class="typed-text">
          <p>Bot replied: <em class="output-bot">...</em></p>
      </div>
    </section>

    <script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAxBJm3w6KRxFHLYXVdiirczfkT5t526_U",
        authDomain: "agent-name-1-24488.firebaseapp.com",
        databaseURL: "https://agent-name-1-24488.firebaseio.com",
        projectId: "agent-name-1-24488",
        storageBucket: "agent-name-1-24488.appspot.com",
        messagingSenderId: "150409423626"
      };
      firebase.initializeApp(config);
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
